@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    position: relative;
    background: #FFFFFF;
}

body .page-header {
    padding: 0px 76px;
    margin-bottom: 40px;
    width: auto ;
    display: flex;
    background-color: green;
    position: relative;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
    height: 72px;
    align-items: center;
}

body .logo {
    width: auto;
    display: inline-block;
}

body .logo .UBER-text{
    font-family: 'Noto Sans', sans-serif;
    color: black;
    font-size: large;
    font-weight: 700;
    display: inline-block;
    margin: 0px 2px;
}

body .logo .EATS-text{
    font-family: 'Noto Sans', sans-serif;
    color: #57AD56;
    font-size: large;
    font-weight: 500;
    display: inline-block;
    margin: 0px 2px;
}

body .delivery-parameters {
    width: auto;
    display: inline-block;
}

body .delivery-parameters .when-to-delive {
    padding: 8px 12px;
    margin: 0px 8px;
    width: 45px;
    display: inline-block;
    border: 1px solid #E0E0E0;
    border-radius: 2px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;

    color: #1D1D1D;
}

body .delivery-parameters .to-word {
    width: auto;
    display: inline-block;
}

body .delivery-parameters .location-to-delive {
    padding: 8px 12px;
    margin: 0px 8px;
    width: auto;
    display: inline-block;
    border: 1px solid #E0E0E0;
    border-radius: 2px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    color: #1D1D1D;
}

body .profile-buttons {
    width: auto;
    display: inline-block;
}

body .profile-buttons .sign-in-button {
    padding: 8px 12px;
    margin: 0px 8px;
    width: auto;
    display: inline-block;
    border: 1px solid #E0E0E0;
    border-radius: 2px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    display: inline-block;
    align-items: center;
    text-align: center;
    color: #1D1D1D; 
    text-decoration: none;
}

body .profile-buttons .Register-button {
    padding: 8px 12px;
    margin: 0px 8px;
    width: auto;
    display: inline-block;
    border: 1px solid #E0E0E0;
    border-radius: 2px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    display: inline-block;
    align-items: center;
    text-align: center;
    background-color: #262626;
    color: white;
    text-decoration: none;
}

body .profile-buttons .basket-button {
    margin-left: 8px;
    display: inline-block;
    align-items: center;
}

body .main-content {
    padding: 0px 81px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

body .search-panel {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 81px;
}

body .search-panel .search-icon {
    display: inline-block;
    height: 22px;
    width: 22px;
    margin-right: 5px;

}

.search-text-input {
    flex: 1;
    width: calc(100% - 27px);
    height: 22px;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    outline: none;
}

.search-label {
    position: absolute;
    left: 110px;
}

.search-panel input:valid~label,
.search-panel input:focus~label {
    display: none;
}

hr {
    margin: 17px 76px 56px;
}

h2 {
    margin: 0px 76px 40px;
}

.card {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: black;

    width: 308px;
    height: 366px;

    margin-right: 40px;
    margin-bottom: 40px;
}

.card .main-range {
    color: gray;
}

.page-footer {
    background-color: #262626;
    height: auto;
    width: 100%;
    padding: 56px 81px 40px 81px;
}

.page-footer .logo .UBER-text {
    color:white;
}

.page-footer hr {
    margin:0px; 
    margin-bottom: 32px;
    margin-top: 40px;
}

.page-footer .select-language-button {
    width: 227px;
    background-color: #3B3B3B;
    border: none;
    border-radius: 2px;
    padding: 16px;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.page-footer .select-language-button .world-and-language {
    display: flex;
    text-align: center;
    align-items: center;
}

.page-footer .select-language-button .world-and-language img {
    margin-right: 16px;
}

.page-footer .share-#-icons .share-icons img {
    height: 16px;
    width: 16px;
}

.page-footer ul {
    list-style-type: none;

}

.page-footer li{
    color: white;
    margin-bottom: 30px;    
}

.footer-columns {
    width: 70%;
    display:flex;
    align-items: center;
    justify-content: space-between;

    list-style-type: none;
}

.footer-columns .one-column {
    height: 100%;
    justify-content: space-between;
}


.page-footer .end-of-footer {
    justify-content: space-between;
}

.page-footer .end-of-footer li{
    display: inline; 
    margin-right: auto;
}

.page-footer .images-to-share {
    display: flex;
    text-align: center;
}

.share-#-icons h3 span {
    color: green;
}